body{
    background-color: #2361ce;
}
#usr, #pwd, #eml{
    width: 400px; 
}
#warrper{
    width: 600; 
    margin: auto
}
#txtUserName{
    background-color:transparent; 
    border-width: solid 1px black
}
#left, #right{
    min-height: 300px;
}
#left{
    width: 30%; float: left;
     background-color: #5a90e2
}
#right{
    width: 70%;
    float:right;
    background-color: #d4f9f8
}
#boxTitle
{
    border: solid 1px black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}
#boxtContent
{
    border: solid 1px black;
    border-top: node;
    padding: 5px;
    text-align: center;
}
#sayHi{
    text-align: right;
}
#listMessage{
    height: 200px; background-color: #fcead4
}

#txtMessage{
    background-color: transparent; border: solid 1px black
}
#annoucement{
 background-color: transparent;
 font-style: italic;
}
#loginForm {  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:15%;
    margin-bottom: 10%;
    width: 40%;
    height: auto;
    padding-left: 5%;
    padding-top:3%;
    padding-bottom:3%;
    background-color: #f4f5f7;
    border-style: none; 

}
#loginForm.h4{
    text-align: center;
}
#txtSgFail{
 color: red;
}